.TopBar{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
}

.TopBar .left{
  flex:1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TopBar .left button{
  margin-right:15px;
  font-size:20px;
  padding:10px ;
  background-color: aquamarine;
  border: none;
  cursor: pointer;
}

.TopBar .right{
  flex:1;
  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: flex-end;
}

.TopBar .right div{
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.TopBar img{
  height: 80%;
  width: auto;
  justify-content: center;
  margin: 15px;
}

.TopBar .right img{
  border: solid;
  border-color: white;
  border-radius: 100px;
}

.TopBar .right img:hover{
  width: 50px;
  height: 50px;
}

.TopBar .right .notice:hover{
  color:yellow;
}