.TopBar{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: aquamarine;
}

.TopBar .logo{
  height: 80%;
  width: auto;
  justify-content: center;
  margin: 15px;
}

.TopBar button{
  margin-right:15px;
  font-size:20px;
  padding:10px ;
  background-color: aquamarine;
  border: none;
}

.TopBar .activeTab{
  font-weight:bold;
}