.SettingGroup{
    flex:1;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SettingGroup .topBar{
    width: 100vw;
}

.SettingGroup .container{
    flex:1;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: row;

    align-items: center;
}

.SettingGroup .container .left{
    width: 160px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.SettingGroup .container .left button{
    margin: 30px;
}

.SettingGroup .container .left .tabBar{
    display: flex;
    flex-direction: column;

    height: auto;

    border: solid;
    border-width: 1px;
    border-radius: 10px;
}

.SettingGroup .container .left .tabBar label{
    padding: 15px;
    font-weight: bold;

    flex: 1.2;
    text-align: center;
}

.SettingGroup .container .left .tabBar div{
    flex: 1;
    margin: 0px;
    padding: 5px;

    border-top: solid;
    border-width: 1px;
    border-color: gray;

    cursor: pointer;
    text-align: center;
}

.SettingGroup .container .left .tabBar div:hover{
    font-weight: bold;
}

.SettingGroup .container .right{
    width: 800px;
    display: flex;
    flex-direction: column;
}

.SettingGroup .container .right .header{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: gray;
}
.SettingGroup .container .right .header label{
    font-weight: bold;
    font-size: 32px;
    margin: 30px;
}

.SettingGroup .container .right .body{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.SettingGroup .container .right .body .box{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: auto;
}

.SettingGroup .container .right .body .box label{
    flex: 1;
    justify-content: flex-end;
    font-weight: bold;
}

.SettingGroup .container .right .body .box .infoBox{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.SettingGroup .container .right .body .box .infoBox .label{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.SettingGroup .container .right .body .box .infoBox .info{
    width: 100%;
}