.SideBar{
    float:left;
    margin-left: 1%;
    margin-top: 1%;
    width:18%;
    border: 1px solid gray;
}

.SideBar .ViewDiv{
    border-bottom: 1px solid lightgray;
}

.SideBar .ViewOption{
    margin: 5%;
}

.SideBar .OptionName{
    font-weight: 500;
    font-size: 150%;
    margin-bottom: 10px;
}

.SideBar .ViewOptionButtons{
    display:flex;
}

.SideBar .ViewOptionButton1{
    padding:5px;
    margin: 5px;
    border-radius: 7px;
    border: 1px solid gray;
    cursor: pointer;
}

.SideBar .ViewOptionButton0{
    padding:5px;
    margin: 5px;
    border-radius: 7px;
    border: 2px solid gray;
    cursor: pointer;
    font-weight: bold;
}

.SideBar .FilterDiv{
    border-bottom: 1px solid lightgray;
}
.SideBar .FilterOption{
    margin: 5%;
}

.SideBar .Including{
    display:flex;
    margin-bottom:3%;
}

.SideBar .IncludingText{
    width: 70%;
}

.SideBar .IncludingSubmit{
    background-color:white;
    border: 1px solid lightgray;
    outline: none;
    cursor: pointer;
}

.SideBar .TagOption{
    display:flex;
    margin-bottom:3%;
}

.SideBar .TagText{
    width: 70%;
}

.SideBar .TagSubmit{
    background-color:white;
    border: 1px solid lightgray;
    outline: none;
    cursor: pointer;
}

.SideBar .CategoryOption{
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.SideBar .GroupOption{
    display: flex;
    flex-wrap: wrap;
}

.SideBar .GroupOptionButton0{
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgb(240,240,240);
    cursor: pointer;
}

.SideBar .GroupOptionButton1{
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: rgb(240,240,240);
    cursor: pointer;
    font-weight: bold;
}

.SideBar .EventOption{
    display: flex;
    flex-wrap: wrap;
}

.SideBar .EventOptionButton0{
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgb(240,240,240);
    cursor: pointer;
}

.SideBar .EventOptionButton1{
    margin: 2px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: rgb(240,240,240);
    cursor: pointer;
    font-weight: bold;
}

.SideBar .SortOption{
    margin: 5%;
}

.SideBar .SortOptionSelect{
    outline: none;
}

.SideBar .CategoryOptionButton01{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 1px solid red;
    border-radius: 10px;
    padding: 3px;
    color: red;
}

.SideBar .CategoryOptionButton11{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 10px;
    padding: 3px;
    color: red;
    font-weight: bold;
}

.SideBar .CategoryOptionButton02{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 3px;
    color: orange;
}

.SideBar .CategoryOptionButton12{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 3px;
    color: orange;
    font-weight: bold;
}

.SideBar .CategoryOptionButton03{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 1px solid rgb(230, 230, 0);
    border-radius: 10px;
    padding: 3px;
    color:  rgb(230,230,0);
}

.SideBar .CategoryOptionButton13{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 2px solid rgb(230, 230, 0);
    border-radius: 10px;
    padding: 3px;
    color:  rgb(230,230,0);
    font-weight: bold;
}

.SideBar .CategoryOptionButton04{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 1px solid green;
    border-radius: 10px;
    padding: 3px;
    color: green;
}

.SideBar .CategoryOptionButton14{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 2px solid green;
    border-radius: 10px;
    padding: 3px;
    color: green;
    font-weight: bold;
}

.SideBar .CategoryOptionButton05{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 1px solid rgb(86, 173, 202);
    border-radius: 10px;
    padding: 3px;
    color:   rgb(86, 173, 202);
}

.SideBar .CategoryOptionButton15{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 2px solid rgb(86, 173, 202);
    border-radius: 10px;
    padding: 3px;
    color:   rgb(86, 173, 202);
    font-weight: bold;
}

.SideBar .CategoryOptionButton06{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 1px solid darkblue;
    border-radius: 10px;
    padding: 3px;
    color: darkblue;
}

.SideBar .CategoryOptionButton16{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 3px;
    color: darkblue;
    font-weight: bold;
}

.SideBar .CategoryOptionButton07{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 1px solid purple;
    border-radius: 10px;
    padding: 3px;
    color:purple;
}

.SideBar .CategoryOptionButton17{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 2px solid purple;
    border-radius: 10px;
    padding: 3px;
    color:purple;
    font-weight: bold;
}

.SideBar .CategoryOptionButton08{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 3px;
    color:  gray;
}

.SideBar .CategoryOptionButton18{
    width: wrap;
    margin: 2px;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 3px;
    color:  gray;
    font-weight: bold;
}
