.EventDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EventDetail .topBar{
    width: 100%;
}

.EventDetail .container{
    display: flex;
    flex-direction: column;
    width:80%;
}

.EventDetail .container .btnBox{
    display: flex;
    flex-direction: row;
}

.EventDetail .container .btnBox .left{
    flex: 1;
}
.EventDetail .container .btnBox .left .back{
    margin-left: 5;
}

.EventDetail .container .btnBox .right{
    flex: 1;
    
}
.EventDetail .container .btnBox .right .btns{
    float: right;
    padding: 5px;
}

.EventDetail .container .btnBox button{
    align-items: center;
    justify-content: center;
    margin: 3px;
    height: 30px;
    width: 30px;

    cursor: pointer;
}

.EventDetail .container .detailBox{
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    border: solid;
    border-width: 3px;
    border-color: gray;
    height: 60vh;
}

.EventDetail .container .detailBox .box{
    flex:1;
    display: flex;
    flex-direction: row; 
}

.EventDetail .container .detailBox .box .infoBox{
    
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    border-bottom:solid;
    border-right:solid;
    border-width: 1px;
    border-color: gray;

}

.EventDetail .container .detailBox .infoBox .infoKey{
    margin: 10px;
    font-weight: bold;
    width: 50px;
}
.EventDetail .container .detailBox .infoBox .infoValue{
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.EventDetail .container .detailBox .infoBox .infoValue img{
    max-width: 50%;
    max-height: 50%;
}

.EventDetail .container .detailBox .large {
    flex:2;
}

.EventDetail .container .detailBox .box .tag{
    margin: 10px;
    padding: 8px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
}


.EventDetail .container .descriptionBox{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.EventDetail .container .descriptionBox .key{
    font-weight: bold;
}

.lastEditor{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.lastEditor .major{
    margin-left: 10px;
    color : gray;
}