.Main{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Main .top{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: aquamarine;
    margin-bottom: 30px;
}

.Main .top .title{
    margin: 20px;
    font-size: 32px;
    font-weight: bold;
}

.Main .top .description{
    margin: 10px;
    font-size: 20px;
}

.Main .container{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Main .content{
    display: flex;
    flex-direction: row;
}


.Main .logo{
    flex:1;
    width: 10%;
    margin-right: 50px;
}

.Main .signInBox{
    flex:5;
    display: flex;
    flex-direction: column;
}
.Main .signInBox .idBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Main .signInBox .passwordBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Main .signInBox .inputBox{
    height: 24px;
    margin: 10px;
    float: right;
    display: flex;
    position: relative;
}

.Main .signInBox .inputBox .toggle{
    position: absolute;
    right: 5px;
    top: 1px;
}
.Main .signInBox .inputBox .toggle:hover{
    color: #00fcb6;
    cursor: pointer;
}

.Main .confirmBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main .confirmBox button{
    width: 80px;
    font-weight: bold;
    margin: 10px;
    height: 32px;
}

.Main .confirmBox .signUpBox{
    margin: 10px;
    color: blue;    
}

.Main .confirmBox .signUpBox:hover{
    cursor: pointer;
    font-weight: bold;
}