.GroupDetail{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GroupDetail .topBar{
    width: 100%;
}

.GroupDetail .header{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
}

.GroupDetail .header .name{
    font-weight: bold;
    font-size: 50px;
}

.GroupDetail .header .settingsBtn{
    position: absolute;
    top: 20%;
    left: 90%;
    cursor: pointer;
}
.GroupDetail .header .settingsBtn:hover{
    font-weight: bold;
    color: red;
}

.GroupDetail .row0{
    margin-left: 1200px;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.GroupDetail .row0 .btn{
    padding: 4px;
    margin: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 32px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;

    cursor: pointer;
}
.GroupDetail .row0 .btn:hover{
    color: aquamarine;
}

.GroupDetail .row1{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.GroupDetail .row1 .key{
    font-weight: bold;
    font-size: 30px;
    width: 200px;
}

.GroupDetail .row1 .value{
    font-size: 30px;
    width: 200px;
}

.GroupDetail .row2{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.GroupDetail .row2 .key{
    font-weight: bold;
    font-size: 30px;
    width: 200px;
}

.GroupDetail .row2 .value{
    font-size: 30px;
    width: 200px;
}