.ProfileModal{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100px;
    right: 0px;
    top:60px;
}

.ProfileModal .btn{
    flex:1;
    border: solid;
    border-width: 1px;
    width: 100%;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ProfileModal .btn:hover{
    color: blue;
}
