.ProfileModal{
    position: absolute;
    z-index: 2;
    background-color: white;
    
    width: 100px;
    height: 150px;
    right: 0px;
    top:60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid;
    border-width: 1px;
}

.ProfileModal .icon{
    flex:1;
    margin: 20px;

}

.ProfileModal .btn{
    flex:1;
    border-top: solid;
    border-width: 1px;
    border-color: gray;
    max-width: 100%;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.ProfileModal .btn:hover{
    color: blue;
    font-weight: bold;
}
