body {
position: relative;
}
header {
display: block;
width: 100%;
padding: 1.75em 0;
border-bottom: 1px solid lightgray;
background: white;
}
.row {
margin: 0;
padding: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
}
.column {
flex-grow: 1;
flex-basis: 0;
max-width: 100%;
}
.Calendar {
display: block;
position: relative;
width: 90%;
background: white;
border: 1px solid lightgray;
height: auto;
margin:0 auto;

/* no drag */
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.Calendar .header {
display:flex;
flex-direction: row;
align-items: center;
align-content: center;
justify-content: center;
font-weight: 700;
font-size: 200%;
height: 100px;
border-bottom: 1px solid lightgray;
}
.Calendar .year_month {
    width: 30%;
    display:flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.Calendar .header .arrow{
    display:inline-block;
    text-align: center;
    border: none;
    outline:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.Calendar .header .arrow:hover{
    display:inline-block;
    text-align: center;
    border: none;
    outline:none;
    color:green;
    transform: scale(2);
}
.Calendar .body .cell {
position: relative;
height: 6em;
border-right: 1px solid lightgray;
overflow: hidden;
cursor: pointer;
background: white;
outline:none;
}

.Calendar .body .row {
border-bottom: 1px solid lightgray;
}
.Calendar .body .row:first-child {
    pointer-events: none;
}
.Calendar .body .row:last-child {
border-bottom: none;
}
.Calendar .body .cell:first-child {
    color: red !important;
}
.Calendar .body .cell:last-child {
border-right: none;
color: blue !important;
}
.Calendar .body .cell .number {
position: absolute;
font-size: 82.5%;
line-height: 1;
top: .75em;
left: .75em;
font-weight: 700;
}
.Calendar .body .disabled * {
color: gray;
pointer-events: none;
opacity: 0.7;
}
.Calendar .body .cell .icons{
    position: absolute;
    top: 1.7em;
}
.Calendar .body .cell .icons .img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}